<div class="container bootstrap snippet">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <h3>You searched for: <%= highlight("#{@search_term}",  @search_term, highlighter: '<a href="search?search_term=\1">\1</a>') %></h3>
        <div class="ibox-content">
          <h2>
            <%= @results.size %> results found for: <span class="text-navy">"<%= @search_term %>"</span>
          </h2>
          <small>Request time  (<%= @time %> seconds)</small>
          <div class="hr-line-dashed"></div>
          <%  @results_panigate.each do |result| %>
            <div class="search-result">
              <h3>
                <%= link_to micropost_path(result) do %>
                  <%= highlight(result.title, @search_term) %>
                <% end %>
              </h3>
              <%= link_to micropost_url(result), class: "search-link" do %>
                <%= micropost_url(result) %>
              <% end %>
              <p><%= highlight(result.short_content, @search_term) %></p>
              <p>Created by: <%= highlight(result.user.name, @search_term) %></p>
            </div>
            <div class="hr-line-dashed"></div>
          <% end %>                    
          <div class="text-center">
            <%= paginate @results_panigate, theme: "twitter-bootstrap-4", pagination_class: "pagination-sm",  nav_class: "d-inline-b" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
