<div class="container">
  <h1>Microposts</h1>

  <table class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Title</th>
        <th>Content</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <% @microposts.each do |micropost| %>
        <tr>
          <td><%= micropost.title %></td>
          <td><%= micropost.content %></td>
          <td>
            <%= link_to 'Show', micropost, class: 'btn btn-primary btn-sm' %>
            <% if authentica_micropost?(micropost) %>
              <%= link_to 'Edit', edit_micropost_path(micropost), class: 'btn btn-primary btn-sm' %>
              <%= link_to 'Destroy', micropost, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
            <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Micropost', new_micropost_path, class: 'btn btn-primary' %>

<div>
