
<%= form_with(model: category, local: true) do |form| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
        <% category.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :title, class: "form-control mb-4", placeholder: "Title" %>
  </div>

  <div class="actions">
    <%= form.submit "Save", class: "btn btn-info btn-block my-4" %>
  </div>
<% end %>
